################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleWeatherApi
/obj
/bin/Debug/net9.0
